## How to import data from a web page

Author: tygithub18

Date: 1/18/2019

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv')

In [3]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
movies2 = pd.read_csv('http://bit.ly/imdbratings')

In [5]:
movies2.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
tydata = pd.read_csv('https://raw.githubusercontent.com/tygithub18/Scikit-Learn-ML-car-data/master/Car_Data.csv')

In [7]:
tydata

   Record_ID  MPG  Power  Storage_Capacity  Towing   Type
0          1    9      6                 6       8    SUV
1          2    9      7                 6       5  Sedan
2          3   10      5                 7       1  Sedan
3          4    5      1                 6       1  Sedan
4          5    7      8                 9       2  Sedan
5          6    9      6                10       8  Truck
6          7    7      7                 7       3  Sedan
7          8    6      8                 8       5    SUV
8          9    7      5                 8       3  Truck
9         10    8      7                 7       1    SUV